body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 70%;
    margin: 6em auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}

header > h1 {
    font-family: 'PT Serif', serif;
    max-width: 10em;
    min-width: 8em;
    font-size: 2.3em;
}

header div {
    max-width: 25em;
}

header div h2 {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: -0.5em;
}

header p {
    font-size: 1.2em;
}

#photo-gallery {
    height: 70em;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4em;
    justify-content: space-between;
}

#photo-gallery figure img {
    margin-bottom: 0.5em;
    width: 14.9em;
    height: 21.3em;
}

#photo-gallery figure {
    position: relative;
    margin-left: 0;
}

#photo-gallery figure:nth-of-type(3n-1) {
    align-self: end;
}


#photo-gallery figure div::before {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 0.8em;
    font-family: 'PT Serif', serif;
    top: 0;
    right: -2em;
}

#photo-gallery figure div:first-of-type::before {
    content: 'PRODUCT OWNER';
}

#photo-gallery figure:nth-of-type(2) div::before {
    content: 'ART DIRECTOR';
}

#photo-gallery figure:nth-of-type(3) div::before {
    content: 'TECH LEAD';
}

#photo-gallery figure:nth-of-type(4) div::before {
    content: 'UX DESIGNER';
}

#photo-gallery figure:nth-of-type(5) div::before {
    content: 'DEVELOPER';
}

#photo-gallery figure:nth-of-type(6) div::before {
    content: 'DEVELOPER';
}

#photo-gallery > figure > figcaption {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.2em;
}

footer p:first-of-type {
    font-size: 0.9em;
    color: #a9a9a9;
    text-align: center;
}

footer p:first-of-type a {
    font-weight: 600;
    color: inherit;
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
    main {
        width: 100%;
        margin: 4em 1em;
    }
    header {
        flex-direction: column;
    }
    header h1 {
        font-size: 2.5em;
    }
    #photo-gallery figure img {
        height: 14em;
        width: 10em;
    }
    #photo-gallery {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        column-gap: 1em;
        margin: 3em 0;
    }
    #photo-gallery figure:nth-of-type(even) {
        align-self: end;
    }
    #photo-gallery figure:nth-of-type(5) {
        align-self: start;
    }
    /* #photo-gallery figure img {
        float: right;
        right: 0;
    }
    #photo-gallery figure figcaption {
        float: right;
        text-align: center;
    } */
    #photo-gallery figure div::before {
        right: 0em;
    }
}